html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.main {
    flex-basis: 800px;
}