html {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(189, 188, 188, 0.521);
    
}

.main {
    flex-basis: 800px;
    margin: 5%;
    
}

.form__heading {
    margin: 0;
    padding: 10px;
    font-size: 20px;
}

.form__addingTask {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 15px;
    padding: 10px;
    background-color: white;
}

.form__enterTask {
    padding: 10px;
    border: 1px solid rgb(221, 212, 212)
}

.form__submit {
    border: none;
    background-color: teal;
    color: white;
    padding:  10px 20px;
}

.form__fieldset {
    padding-bottom: 10px;
    border: none;
    background-color: white;
}

.form__fieldset--heading {
    margin-bottom: 2px;
}

.form__list {
    list-style: none;
    padding: 0;
    margin: 20px
}

.form__listItem {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 20px;
    padding: 10px;
    border-bottom: 1px solid gray;
    align-items: center;


}

.form__delete{
    width: 30px;
    height: 30px;
    background-color:  red;
    border: none;
}

.form__done {
    width: 30px;
    height: 30px;
    background-color: green;
    color: white;
    border: none;
}